.hstautoworkpanel-section-storepanel {
    position: flex;
    justify-content: flex-start;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    width: auto;
    height: 100%;
}

.hstautoworkpanel-section-filedirpanel {
    display: inline-block;
    border: 1px solid var(--color-accent);
    width: 120px;
    height: 80px;
    margin: 15px;
}