.hstautoworkpanel-section-storepanel {
    position: flex;
    justify-content: flex-start;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    width: auto;
    height: 100%;
}

.hstautoworkpanel-section-filedir {
    display: inline-block;
    border: 1px solid var(--color-accent);
    width: 120px;
    height: 80px;
    margin: 15px;
}

.hstautoworkpanel-section-filedir.is-templete {
    visibility: hidden;
    opacity: 0;
}

.hstautoworkpanel-section-disk {
    display: inline-block;
    border: 1px solid var(--color-accent);
    width: 100px;
    height: 20px;
    margin: 1px;
}

.hstautoworkpanel-section-disk.is-templete {
    visibility: hidden;
    opacity: 0;
}

.hstautoworkpanel-section-disk.is-usb {
    background-color: var(--color-usbdisk);
}

.hstautoworkpanel-section-disk.is-flexed {
    background-color: var(--color-harddisk);
}

.hstautoworkpanel-section-floatcheckbox {
    Float: left;
    visibility: hidden;
    opacity: 0;
}

.hstautoworkpanel-section-floatcheckbox.is-shown {
    visibility: visible;
    opacity: 1;
}

.hstautoworkpanel-task {
    visibility: visible;
    opacity: 1;
}

.hstautoworkpanel-task.is-templete {
    visibility: hidden;
    opacity: 0;
}

.hstautoworkpanel-taskpanel {
    display: inline;
}